:root {
  --bg: #faf7f2;
  --text: hwb(0 12% 88%);
  --muted: #6b6b6b;
  --brand: #216869;
  --brand-2: #49a078;
  --card: #ffffff;
  --border: #e9e3db;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--bg);
  color: var(--brand);
  font-weight: 600;
  position: sticky;
  top: 0;
}

header .container {
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
header .container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .container ul li {
  list-style: none;
  margin: 10px;
}
header .container ul li a {
  color: black;
  text-decoration: none;
  color: var(--brand);
}

.hero {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.hero p:first-of-type {
  background-color: var(--brand-2);
  color: var(--text);
  padding: 5px 10px;
  border-radius: 20px;
}

.hero a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: var(--brand);
  padding: 15px 20px;
  border-radius: 25px;
}
.hero p:last-of-type {
  width: 50%;
}
#about .container {
  max-width: 1200px;
  margin: 100px auto;
}
#about .container .row {
  /* display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card {
  padding: 15px;
  background-color: var(--card);
  border-radius: 10px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
iframe {
  border-radius: 10px;
}
#about .container .row > div p:last-of-type {
  color: var(--muted);
}
#about ul {
  display: flex;
}
#about ul li {
  list-style: none;
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 25px;
}
#menu .container {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#menu .container strong {
  color: var(--muted);
  font-weight: 500;
}
#menu .container #categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#menu .menu-category {
  padding: 30px 10px;
}
#menu .menu-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed var(--border);
  padding: 5px;
}
#menu .menu-item div:first-child {
  display: flex;
  justify-content: space-between;
}
#menu .menu-item .menu-item-title {
  font-weight: bold;
}
#menu .menu-item .menu-item-price {
  font-weight: bold;
  color: var(--brand);
}
#hours-contact .container {
  max-width: 1200px;
  margin: 100px auto;
}
#hours-contact .container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
table {
  width: 100%;
}
#hours-contact .container .row section tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--border);
  padding: 5px;
}
#contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact a {
  text-decoration: none;
  color: var(--text);
}
#contact a[href*="tel"] {
  font-weight: 600;
}
#contact a[href*="mailto"] {
  color: var(--brand-2);
}
#contact p:last-of-type {
  color: var(--muted);
}
.find-us .container {
  max-width: 1200px;
  margin: 100px auto;
}
.find-us .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.find-us section {
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}
#find-us p:last-of-type {
  color: var(--muted);
}

footer {
  border-top: 1px solid var(--border);
  text-align: center;
  padding: 15px;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
footer a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}
footer span {
  color: var(--brand-2);
}
/* Media Query */
@media screen and (max-width: 1200px) {
  header .container,
  .find-us .container,
  #hours-contact .container,
  #menu .container,
  #about .container,
  footer .container {
    width: calc(100% - 50px);
  }
}
@media screen and (max-width: 900px) {
  #about .container .row {
    grid-template-columns: 1fr;
  }
  #menu .container #categories {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  #hours-contact .container .row,
  .find-us .row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  #menu .container #categories {
    grid-template-columns: 1fr;
  }
  header .container ul li {
    margin: 5px;
  }
}
